@mixin mobile {
    @media (min-width: $breakpoints, mobile) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: $breakpoints, tablet) {
        @content;
    }
}
@mixin laptop {
    @media (min-width: $breakpoints, laptop) {
        @content;
    }
}
@mixin mobile {
    @media (min-width: $breakpoints, desktop) {
        @content;
    }
}
@mixin font_primary {
    font-family: 'Roboto', sans-serif;
}
@mixin font_secondary {
    font-family: 'Shrikhand', cursive;
}
@mixin border_radius_10 {
    border-radius: 10px;
}
@mixin border_radius_20 {
    border-radius: 20px;
}
@mixin box-shadow ($color:$color-quaternary){
    box-shadow: 0px 0px 10px darken($color, 20%);
}