/* MEDIA QUERIES */
@mixin mobile {
    @media (min-width: map-get($breakpoints, mobile)) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}
@mixin laptop {
    @media (min-width: map-get($breakpoints, laptop)) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}
/* FONTS */
@mixin font_primary {
    font-family: 'Roboto', sans-serif;
}
@mixin font_secondary {
    font-family: 'Shrikhand', cursive;
}
/* HEADER VISUALS */
@mixin palette_du_gout($header_visuals: map-get($header_visuals, palette_du_gout)) {
    background-image: url($header_visuals);
}
@mixin note_enchantee($header_visuals: map-get($header_visuals, note_enchantee)) {
    background-image: url($header_visuals);
}
@mixin a_la_française($header_visuals: map-get($header_visuals, a_la_française)) {
    background-image: url($header_visuals);
}
@mixin delice_des_sens ($header_visuals: map-get($header_visuals, delice_des_sens)) {
    background-image: url($header_visuals);
}
/* OTHERS */
@mixin border_radius_10 {
    border-radius: 10px;
}
@mixin border_radius_20 {
    border-radius: 20px;
}
@mixin background-quaternary-dark ($color:$color-quaternary) {
    background-color: darken($color, 5%);
}
@mixin box-shadow ($color:$color-quaternary) {
    box-shadow: 0px 0px 10px darken($color, 20%);
}