$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-quaternary: #F2F2F2;
$color-quinary: #1C1C1E;
$color-primary-light: lighten($color-primary, 5%);
$color-secondary-light: lighten($color-secondary, 5%);
$color-primary-very-light: lighten($color-primary, 35%);
$color-quaternary-dark: darken($color-quaternary, 20%);


$breakpoints: (
    mobile: 576px,
    tablet: 768px,
    laptop: 992px,
    desktop: 1200px,
);

$header_visuals: (
    palette_du_gout: "img/la_palette_du_gout.jpg",
    note_enchantee: "img/la_note_enchantee.jpg",
    a_la_française: "img/a_la_francaise.jpg",
    delice_des_sens: "img/le_delice_des_sens.jpg",
);