$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-quaternary: #1C1C1E;

$breakpoints: (
    mobile: 576px,
    tablet: 768px,
    laptop: 992px,
    desktop: 1200px,
);