@import "abstracts/variables";
@import "abstracts/mixins";
@import "base/base";
@import "base/fonts";
@import "base/typography";
@import "layout/footer";
@import "layout/header";
@import "pages/index";

.m_20 {
    margin: 20px;
}
.mt_10 {
    margin-top: 10px;
}