.header_container {
    display: flex;
    padding: 20px;
    i {
        color: $color-quinary;
        padding: 6.5px 0px 0px 0px;
        font-size: 20px;
    }
    div {
        display: flex;
        justify-content: center;
        width: 100%
    }
}