button {
    cursor: pointer;
    padding: 20px 50px 20px 50px;
    border-radius: 30px;
    border-style: none;
    color: white;
    background: linear-gradient($color-secondary, $color-primary);
    &:hover {
        background: linear-gradient($color-secondary-light, $color-primary-light);
    }
}