.header_visual {
    z-index: 2;
    height: 250px;
    background-position: center;
    background-size: cover;
}
.palette_du_gout {
    background-image: url("img/la_palette_du_gout.jpg");
}
.note_enchantee {
    background-image: url("img/la_note_enchantee.jpg");
}
.a_la_française {
    background-image: url("img/a_la_francaise.jpg");
}
.delice_des_sens {
    background-image: url("img/le_delice_des_sens.jpg");
}
