.header_visual {
    z-index: 2;
    height: 250px;
    background-position: center;
    background-size: cover;
}
.palette_du_gout {
    @include palette_du_gout;
}
.note_enchantee {
    @include note_enchantee;
}
.a_la_française {
    @include a_la_française;
}
.delice_des_sens {
    @include delice_des_sens;
}
