.heart {
    cursor: pointer;
    position: relative;
    font-size: 20px;
    .fas {
        position: absolute;
        top: 15px;
        right: 10px;
        opacity: 0;
        transition: opacity 1s;
        background: -webkit-linear-gradient($color-secondary-light, $color-primary-light);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .far {
        position: absolute;
        top: 15px;
        right: 10px;
        background: -webkit-linear-gradient($color-secondary-light, $color-primary-light);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &:hover > .fas {
        opacity: 1;
    }
}