@keyframes loaderBlur {
    0% {
        filter: blur(4px);
    }
    100% {
        filter: blur(0px);
    }
}
.body {
    animation: loaderBlur 5s;
    z-index: 2;
}
.title_section {
    margin: 0px 20px 0px 20px;
    width: 100%;
    @include laptop {
        padding-left: 5%;
    }
}
.home_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $color-quaternary;
    padding: 0px 0px 20px 0px;
    .location_section {
        display: flex;
        justify-content: center;
        padding: 20px;
        @include background-quaternary-dark;
        i {
            margin: 0px 10px 0px 10px;
        }
    }
    .element {
        width: 100%;
        text-align: center;
    }
}
.operation_container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px 20px 0px;
    @include laptop {
        flex-direction: row;
        justify-content: center;
    }
    .element {
        display: flex;
        margin: 0px 20px 20px 20px;
        width: 100%;
        @include laptop {
            width: 30%;
        }
        .card {
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 20px 20px 20px 0px;
            background-color: $color-quaternary;
            @include border_radius_20;
            @include box-shadow;
            &:hover {
                background-color: $color-primary-very-light;
                i {
                    color: $color-primary;
                }
            }
            }
        }
    .content {
        padding: 5px 10px 5px 10px;
    }
    .numbers {
        z-index: 1;
        color: white;
        margin: 20px -15px 20px 0px;
        padding: 5px 10px 5px 10px;
        background-color: $color-primary;
        border-radius: 90px;
    }
}
.restaurants_container {
    display: flex;
    flex-wrap: wrap;
    background-color: $color-quaternary;
    padding: 20px 0px 20px 0px;
    justify-content: center;
    @include desktop {
        flex-direction: row;
    }
    .card {
        position: relative;
        display: flex;
        width: 100%;
        max-width: 800px;
        margin: 20px 20px 20px 20px;
        background-color: white;
        border-radius: 10px;
        @include box-shadow;
        @include laptop {
            width: 80%;
        }
        @include desktop {
            width: 20%;
        }
        a {
            color: $color-quinary;
            width: 100%;
        }
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 10px 10px 0px 0px;
        }
        .content {
            display: flex;
        }
        .element {
            width: 50%;
            padding: 20px 20px 20px 10px;
            @include desktop {
                width: auto;
            }
            i {
                margin-left: 90%;
                font-size: 20px;
            }
        }
    }
}