.title_section {
    margin: 0px 20px 0px 20px;
    width: 100%;
}
.home_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $color-quaternary;
    padding: 20px 0px 20px 0px;
    .location_section {
        display: flex;
        justify-content: center;
        margin: 20px;
    }
    .element {
        width: 100%;
        text-align: center;
    }
}
.operation_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 0px 20px 0px;
    .element {
        display: flex;
        margin: 0px 20px 20px 20px;
        width: 100%;
        .card {
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 20px 20px 20px 0px;
            background-color: $color-quaternary;
            @include border_radius;
            @include box-shadow;
            }
        }
    .content {
        padding: 5px 10px 5px 10px;
    }
    .numbers {
        z-index: 1;
        color: white;
        margin: 20px -15px 20px 0px;
        padding: 5px 10px 5px 10px;
        background-color: $color-primary;
        border-radius: 90px;
    }
}
.restaurants_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $color-quaternary;
    padding: 20px 0px 20px 0px;
    .card {
        display: flex;
        width: 100%;
        margin: 20px 20px 20px 20px;
        background-color: white;
        border-radius: 10px;
        @include box-shadow;
        a {
            color: $color-quinary;
        }
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 10px 10px 0px 0px;
        }
        .content {
            display: flex;
        }
        .element {
            width: 50%;
            padding: 20px 20px 20px 10px;
            i {
                margin-left: 90%;
                font-size: 20px;
            }
        }
    }
}