@keyframes slideDown {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
.menu_container {
    z-index: 1;
    margin-top: -40px;
    background-color: $color-quaternary;
    border-radius: 30px 30px 0px 0px;
    padding: 20px;
    .categories {
        @include laptop {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    &__title {
        margin-top: 20px;
        h4 {
            width: 40px;
            padding: 0px 0px 5px 0px;
            border-bottom: solid $color-tertiary;
        }
    }
    &__card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: white;
        padding: 10px;
        margin: 20px 0px 20px 0px;
        @include border_radius_10;
        @include box-shadow;
        @include laptop {
            width: 60%;
        }
        h4 {
            width: 100%;
        }
    }
    .animation {
        &__1{
            animation: slideDown 1s;
        }
        &__2 {
            animation: slideDown 2s;
        }
        &__3 {
            animation: slideDown 3s;
        }
        &__4 {
            animation: slideDown 4s;
        }
    }
    .restaurant_title {
        display: flex;
        justify-content: space-between;
        i {
            padding: 12.5px;
            font-size: 20px;
        }
    }
    .order_section {
        text-align: center;
    }
}